<!-- Welcome Message Component -->
<div
  x-show="messages.length === 0"
  class="flex justify-center items-center h-full animate-fade-in"
>
  <div class="text-center max-w-lg">
    <div
      class="w-32 h-32 mx-auto mb-8 rounded-3xl shadow-2xl overflow-hidden flex items-center justify-center"
    >
      <img
        src="{{ url_for('static', filename='favicon_io/tasyamaskot.webp') }}"
        alt="DTMI Logo"
        class="object-contain w-full h-full"
      />
    </div>

    <h1
      class="text-3xl font-bold mb-4"
      :class="darkMode ? 'text-claude-text-dark' : 'text-claude-text'"
    >
      DTMI Information Center
    </h1>
    <p class="text-xl mb-6">
      <b
        class="text-bold darkMode ? 'text-claude-text-dark' : 'text-claude-text'"
        >Tasya
      </b>
      <span class="opacity-70">
        Asisten departemen Teknik Mesin Dan Industri.</span
      >
    </p>
    <div class="flex flex-wrap justify-center gap-3"></div>
  </div>
</div>
